# Ignore folders related to the docker
backend/
streamlit/

# Ignore notebook used fro training
notebooks/

# Others
.idea/
__pycache__/
*.ipynb
.DS_Store

*.png
*.pdf


# Ignore test_files
test_external_data.csv
test_notebook.ipynb
test_external_data/

